n8n-workflows/2-run-next-webhook.json
{
  "name": "Webhook 觸發執行下一個任務",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "run-next",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "openclaw-run-next"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TASKBOARD_API || 'http://localhost:3001' }}/api/openclaw/run-next",
        "options": { "timeout": 30000 }
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000002",
      "name": "執行下一個任務",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "b2c3d4e5-0003-4000-8000-000000000003",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "執行下一個任務", "type": "main", "index": 0 }]]
    },
    "執行下一個任務": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "description": "POST 到 /webhook/run-next 觸發執行。URL: https://andy825lay.zeabur.app/webhook/run-next" }
}
