n8n-workflows/mvp-webhook-telegram.json
{
  "name": "MVP - Webhook to Telegram",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "test-webhook",
      "path": "test-message",
      "responseMode": "responseNode",
      "options": {}
    },
    {
      "parameters": {
        "chatId": "5819565005",
        "text": "🔄 n8n 收到訊息：\n\n來源: {{ $json.source }}\n內容: {{ $json.message }}\n時間: {{ $now.format('YYYY-MM-DD HH:mm:ss') }}"
      },
      "id": "2",
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        750,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}