n8n-workflows/tls-control-panel.json
{
  "name": "達爾控制面板（Inline Keyboard）",
  "nodes": [
    {
      "parameters": {
        "updates": ["message", "callback_query"]
      },
      "id": "cp-001-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 400],
      "credentials": {
        "telegramApi": {
          "id": "dar-bot",
          "name": "達爾 Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// 判斷是 message 還是 callback_query\nif (item.callback_query) {\n  const cb = item.callback_query;\n  return [{\n    json: {\n      type: 'callback',\n      action: cb.data,\n      chatId: cb.message.chat.id,\n      messageId: cb.message.message_id,\n      callbackQueryId: cb.id,\n      userId: cb.from.id,\n      userName: cb.from.first_name || cb.from.username || 'unknown'\n    }\n  }];\n}\n\nif (item.message) {\n  const msg = item.message;\n  const text = (msg.text || '').trim();\n  if (text === '/panel' || text === '/start' || text === '/menu') {\n    return [{\n      json: {\n        type: 'command',\n        action: 'show_panel',\n        chatId: msg.chat.id,\n        messageId: msg.message_id,\n        userId: msg.from.id,\n        userName: msg.from.first_name || msg.from.username || 'unknown'\n      }\n    }];\n  }\n}\n\nreturn [];"
      },
      "id": "cp-002-parse",
      "name": "解析事件",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cp-if-command",
              "leftValue": "={{ $json.type }}",
              "rightValue": "command",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cp-003-switch",
      "name": "指令 or 按鈕",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN || '請設定 TELEGRAM_BOT_TOKEN 環境變數' }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.chatId }},\n  \"text\": \"🔧 *達爾控制面板*\\n\\n選擇要執行的操作：\",\n  \"parse_mode\": \"Markdown\",\n  \"reply_markup\": {\n    \"inline_keyboard\": [\n      [\n        { \"text\": \"📋 系統檢查\", \"callback_data\": \"sys_check\" },\n        { \"text\": \"🧹 清理巡檢\", \"callback_data\": \"cleanup\" }\n      ],\n      [\n        { \"text\": \"📊 任務狀態\", \"callback_data\": \"task_status\" },\n        { \"text\": \"📝 進度報告\", \"callback_data\": \"progress\" }\n      ],\n      [\n        { \"text\": \"🛑 緊急停止\", \"callback_data\": \"emergency_stop\" },\n        { \"text\": \"🔄 重載規範\", \"callback_data\": \"reload_rules\" }\n      ],\n      [\n        { \"text\": \"📖 指令清單\", \"callback_data\": \"help\" }\n      ]\n    ]\n  }\n}",
        "options": {}
      },
      "id": "cp-004-send-panel",
      "name": "送出面板",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 280]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst action = item.action;\nconst chatId = item.chatId;\nconst callbackQueryId = item.callbackQueryId;\nconst messageId = item.messageId;\nconst BOT = `https://api.telegram.org/bot${$env.TELEGRAM_BOT_TOKEN || '請設定環境變數'}`;\nconst TASKBOARD = 'http://localhost:3011';\n\n// 先回應 callback query（避免按鈕轉圈圈）\nawait fetch(`${BOT}/answerCallbackQuery`, {\n  method: 'POST',\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify({ callback_query_id: callbackQueryId })\n});\n\nlet replyText = '';\nlet replyMarkup = null;\n\nswitch (action) {\n  case 'sys_check': {\n    replyText = '🔍 *系統檢查中...*\\n\\n正在執行 self-heal.sh check，請稍候。\\n\\n';\n    try {\n      // 查任務板狀態\n      const res = await fetch(`${TASKBOARD}/api/tasks`);\n      const data = await res.json();\n      const tasks = Array.isArray(data) ? data : (data.data || data.tasks || []);\n      const running = tasks.filter(t => t.status === 'running' || t.status === 'in_progress');\n      const review = tasks.filter(t => t.status === 'review');\n      const failed = tasks.filter(t => t.status === 'failed');\n      \n      replyText = `📋 *系統檢查結果*\\n\\n`;\n      replyText += `📦 任務總數: ${tasks.length}\\n`;\n      replyText += `🏃 執行中: ${running.length}\\n`;\n      replyText += `👀 待審核: ${review.length}\\n`;\n      replyText += `❌ 失敗: ${failed.length}\\n`;\n      \n      if (tasks.length > 200) {\n        replyText += `\\n⚠️ *警告*：任務數量超過 200，可能需要清理！`;\n      }\n      if (running.length > 3) {\n        replyText += `\\n⚠️ *警告*：有 ${running.length} 個任務在跑，可能有卡住的！`;\n      }\n    } catch (e) {\n      replyText = `📋 *系統檢查結果*\\n\\n❌ 任務板連線失敗: ${e.message}\\n\\n請確認 localhost:3011 是否在跑。`;\n    }\n    replyMarkup = { inline_keyboard: [[{ text: '🔙 返回面板', callback_data: 'show_panel' }]] };\n    break;\n  }\n  \n  case 'cleanup': {\n    replyText = '🧹 *清理巡檢 (SOP-5)*\\n\\n';\n    replyText += '巡檢項目：\\n';\n    replyText += '1️⃣ 根目錄非白名單檔案\\n';\n    replyText += '2️⃣ 隱藏檔 / 未授權程式\\n';\n    replyText += '3️⃣ 可疑目錄\\n';\n    replyText += '4️⃣ 任務板衛生\\n';\n    replyText += '5️⃣ 近期活動偵測\\n\\n';\n    replyText += '⚠️ 此操作需要在 CLI 執行：\\n';\n    replyText += '`./scripts/self-heal.sh check`\\n\\n';\n    replyText += '選擇操作：';\n    replyMarkup = {\n      inline_keyboard: [\n        [\n          { text: '🔍 只檢查', callback_data: 'cleanup_check' },\n          { text: '🔧 檢查+修復', callback_data: 'cleanup_fix' }\n        ],\n        [{ text: '🔙 返回面板', callback_data: 'show_panel' }]\n      ]\n    };\n    break;\n  }\n  \n  case 'cleanup_check': {\n    replyText = '🔍 *執行 self-heal.sh check*\\n\\n';\n    try {\n      const res = await fetch(`${TASKBOARD}/api/tasks`);\n      const data = await res.json();\n      const tasks = Array.isArray(data) ? data : (data.data || data.tasks || []);\n      const running = tasks.filter(t => t.status === 'running' || t.status === 'in_progress');\n      const stale = running.filter(t => {\n        if (!t.updatedAt) return false;\n        const hours = (Date.now() - new Date(t.updatedAt).getTime()) / 3600000;\n        return hours > 24;\n      });\n      \n      replyText += `📊 任務板衛生：\\n`;\n      replyText += `• 總任務: ${tasks.length}\\n`;\n      replyText += `• 執行中: ${running.length}\\n`;\n      replyText += `• 卡住 (>24h): ${stale.length}\\n\\n`;\n      \n      if (stale.length > 0) {\n        replyText += `⚠️ 卡住的任務：\\n`;\n        stale.slice(0, 5).forEach(t => {\n          replyText += `• ${t.title || t.id} (${t.status})\\n`;\n        });\n      }\n      \n      replyText += `\\n✅ 任務板檢查完成`;\n      replyText += `\\n\\n💡 完整檢查請在 CLI 執行：\\n\\`./scripts/self-heal.sh check\\``;\n    } catch (e) {\n      replyText += `❌ 任務板連線失敗: ${e.message}`;\n    }\n    replyMarkup = { inline_keyboard: [[{ text: '🔙 返回面板', callback_data: 'show_panel' }]] };\n    break;\n  }\n  \n  case 'cleanup_fix': {\n    replyText = '🔧 *清理修復*\\n\\n';\n    replyText += '⚠️ 自動修復需要在 CLI 執行：\\n\\n';\n    replyText += '```\\n./scripts/self-heal.sh fix\\n```\\n\\n';\n    replyText += '這會自動：\\n';\n    replyText += '• 移除非白名單的根目錄檔案\\n';\n    replyText += '• 清理未授權自動化檔案\\n';\n    replyText += '• 修復卡住的任務狀態\\n\\n';\n    replyText += '🔴 *注意*：修復操作是 🔴 紅燈，需要主人批准。';\n    replyMarkup = { inline_keyboard: [[{ text: '🔙 返回面板', callback_data: 'show_panel' }]] };\n    break;\n  }\n  \n  case 'task_status': {\n    try {\n      const res = await fetch(`${TASKBOARD}/api/tasks`);\n      const data = await res.json();\n      const tasks = Array.isArray(data) ? data : (data.data || data.tasks || []);\n      \n      const byStatus = {};\n      tasks.forEach(t => {\n        const s = t.status || 'unknown';\n        byStatus[s] = (byStatus[s] || 0) + 1;\n      });\n      \n      replyText = `📊 *任務狀態總覽*\\n\\n`;\n      replyText += `📦 總數: ${tasks.length}\\n\\n`;\n      \n      const statusEmoji = {\n        'queued': '⏳', 'running': '🏃', 'in_progress': '🏃',\n        'review': '👀', 'done': '✅', 'failed': '❌',\n        'cancelled': '🚫', 'blocked': '🔒'\n      };\n      \n      Object.entries(byStatus).sort((a, b) => b[1] - a[1]).forEach(([status, count]) => {\n        const emoji = statusEmoji[status] || '📌';\n        replyText += `${emoji} ${status}: ${count}\\n`;\n      });\n      \n      // 最近 5 個任務\n      const recent = tasks.sort((a, b) => {\n        return new Date(b.updatedAt || 0) - new Date(a.updatedAt || 0);\n      }).slice(0, 5);\n      \n      if (recent.length > 0) {\n        replyText += `\\n📋 *最近更新：*\\n`;\n        recent.forEach(t => {\n          const emoji = statusEmoji[t.status] || '📌';\n          const title = (t.title || t.id || '-').substring(0, 30);\n          replyText += `${emoji} ${title}\\n`;\n        });\n      }\n    } catch (e) {\n      replyText = `📊 *任務狀態*\\n\\n❌ 連線失敗: ${e.message}`;\n    }\n    replyMarkup = {\n      inline_keyboard: [\n        [\n          { text: '👀 待審核', callback_data: 'tasks_review' },\n          { text: '🏃 執行中', callback_data: 'tasks_running' }\n        ],\n        [{ text: '🔙 返回面板', callback_data: 'show_panel' }]\n      ]\n    };\n    break;\n  }\n  \n  case 'tasks_review': {\n    try {\n      const res = await fetch(`${TASKBOARD}/api/tasks?status=review`);\n      const data = await res.json();\n      const tasks = Array.isArray(data) ? data : (data.data || data.tasks || []);\n      \n      if (tasks.length === 0) {\n        replyText = '👀 *待審核任務*\\n\\n目前沒有待審核的任務。';\n      } else {\n        replyText = `👀 *待審核任務 (${tasks.length})*\\n\\n`;\n        tasks.slice(0, 10).forEach((t, i) => {\n          replyText += `${i+1}. *${(t.title || t.id || '-').substring(0, 40)}*\\n`;\n          if (t.assignee) replyText += `   👤 ${t.assignee}\\n`;\n        });\n      }\n    } catch (e) {\n      replyText = `👀 *待審核*\\n\\n❌ 連線失敗: ${e.message}`;\n    }\n    replyMarkup = { inline_keyboard: [[{ text: '🔙 返回面板', callback_data: 'show_panel' }]] };\n    break;\n  }\n  \n  case 'tasks_running': {\n    try {\n      const res = await fetch(`${TASKBOARD}/api/tasks?status=running`);\n      const data = await res.json();\n      let tasks = Array.isArray(data) ? data : (data.data || data.tasks || []);\n      \n      // 也查 in_progress\n      try {\n        const res2 = await fetch(`${TASKBOARD}/api/tasks?status=in_progress`);\n        const data2 = await res2.json();\n        const tasks2 = Array.isArray(data2) ? data2 : (data2.data || data2.tasks || []);\n        tasks = tasks.concat(tasks2);\n      } catch(e) {}\n      \n      if (tasks.length === 0) {\n        replyText = '🏃 *執行中任務*\\n\\n目前沒有正在執行的任務。';\n      } else {\n        replyText = `🏃 *執行中任務 (${tasks.length})*\\n\\n`;\n        tasks.slice(0, 10).forEach((t, i) => {\n          const title = (t.title || t.id || '-').substring(0, 40);\n          replyText += `${i+1}. *${title}*\\n`;\n          if (t.assignee) replyText += `   👤 ${t.assignee}\\n`;\n          if (t.updatedAt) {\n            const hours = Math.round((Date.now() - new Date(t.updatedAt).getTime()) / 3600000);\n            if (hours > 24) replyText += `   ⚠️ 已跑 ${hours}h（可能卡住）\\n`;\n          }\n        });\n      }\n    } catch (e) {\n      replyText = `🏃 *執行中*\\n\\n❌ 連線失敗: ${e.message}`;\n    }\n    replyMarkup = { inline_keyboard: [[{ text: '🔙 返回面板', callback_data: 'show_panel' }]] };\n    break;\n  }\n  \n  case 'progress': {\n    try {\n      const res = await fetch(`${TASKBOARD}/api/tasks?status=done`);\n      const data = await res.json();\n      const tasks = Array.isArray(data) ? data : (data.data || data.tasks || []);\n      \n      // 最近完成的\n      const recent = tasks.sort((a, b) => {\n        return new Date(b.updatedAt || 0) - new Date(a.updatedAt || 0);\n      }).slice(0, 10);\n      \n      replyText = `📝 *進度報告*\\n\\n`;\n      replyText += `✅ 已完成任務: ${tasks.length}\\n\\n`;\n      \n      if (recent.length > 0) {\n        replyText += `*最近完成：*\\n`;\n        recent.forEach((t, i) => {\n          const title = (t.title || t.id || '-').substring(0, 40);\n          const date = t.updatedAt ? new Date(t.updatedAt).toLocaleDateString('zh-TW') : '-';\n          replyText += `${i+1}. ${title} (${date})\\n`;\n        });\n      } else {\n        replyText += '目前還沒有完成的任務。';\n      }\n    } catch (e) {\n      replyText = `📝 *進度報告*\\n\\n❌ 連線失敗: ${e.message}`;\n    }\n    replyMarkup = { inline_keyboard: [[{ text: '🔙 返回面板', callback_data: 'show_panel' }]] };\n    break;\n  }\n  \n  case 'emergency_stop': {\n    replyText = '🛑 *緊急停止*\\n\\n';\n    replyText += '確定要發出緊急停止指令嗎？\\n\\n';\n    replyText += '這會：\\n';\n    replyText += '• 通知所有 Agent 立即停止\\n';\n    replyText += '• 凍結任務板狀態\\n';\n    replyText += '• 等待主人說「繼續」才恢復';\n    replyMarkup = {\n      inline_keyboard: [\n        [\n          { text: '🛑 確認停止', callback_data: 'confirm_stop' },\n          { text: '❌ 取消', callback_data: 'show_panel' }\n        ]\n      ]\n    };\n    break;\n  }\n  \n  case 'confirm_stop': {\n    try {\n      // 發送停止事件到系統\n      await fetch('http://127.0.0.1:5678/webhook/system-event-notify', {\n        method: 'POST',\n        headers: { 'Content-Type': 'application/json' },\n        body: JSON.stringify({\n          source: 'telegram-panel',\n          event: 'emergency_stop',\n          message: '🛑 主人透過 Telegram 面板發出緊急停止指令',\n          timestamp: new Date().toISOString()\n        })\n      });\n    } catch (e) {\n      // webhook 可能沒在跑，不影響\n    }\n    \n    replyText = '🛑 *緊急停止已發出*\\n\\n';\n    replyText += '✅ 停止指令已廣播\\n';\n    replyText += '⏸️ 所有 Agent 應立即停止\\n\\n';\n    replyText += '說「繼續」或按下方按鈕恢復：';\n    replyMarkup = {\n      inline_keyboard: [\n        [{ text: '▶️ 恢復運作', callback_data: 'resume_ops' }],\n        [{ text: '🔙 返回面板', callback_data: 'show_panel' }]\n      ]\n    };\n    break;\n  }\n  \n  case 'resume_ops': {\n    try {\n      await fetch('http://127.0.0.1:5678/webhook/system-event-notify', {\n        method: 'POST',\n        headers: { 'Content-Type': 'application/json' },\n        body: JSON.stringify({\n          source: 'telegram-panel',\n          event: 'resume',\n          message: '▶️ 主人透過 Telegram 面板恢復運作',\n          timestamp: new Date().toISOString()\n        })\n      });\n    } catch (e) {}\n    \n    replyText = '▶️ *已恢復運作*\\n\\n所有 Agent 可以繼續工作。';\n    replyMarkup = { inline_keyboard: [[{ text: '🔙 返回面板', callback_data: 'show_panel' }]] };\n    break;\n  }\n  \n  case 'reload_rules': {\n    replyText = '🔄 *重載規範*\\n\\n';\n    replyText += '提醒達爾重新讀取：\\n';\n    replyText += '• AGENTS.md v1.4\\n';\n    replyText += '• SOP-1 ~ SOP-10\\n';\n    replyText += '• CR-1 ~ CR-7\\n\\n';\n    replyText += '💡 在達爾對話中貼 `05-規範總覽.md` 的內容即可。';\n    replyMarkup = { inline_keyboard: [[{ text: '🔙 返回面板', callback_data: 'show_panel' }]] };\n    break;\n  }\n  \n  case 'help': {\n    replyText = '📖 *達爾控制面板 - 指令清單*\\n\\n';\n    replyText += '*Telegram 指令：*\\n';\n    replyText += '/panel - 開啟控制面板\\n';\n    replyText += '/start - 開啟控制面板\\n';\n    replyText += '/menu - 開啟控制面板\\n\\n';\n    replyText += '*面板按鈕：*\\n';\n    replyText += '📋 系統檢查 - 查任務板狀態\\n';\n    replyText += '🧹 清理巡檢 - SOP-5 巡檢流程\\n';\n    replyText += '📊 任務狀態 - 任務統計 + 明細\\n';\n    replyText += '📝 進度報告 - 最近完成的任務\\n';\n    replyText += '🛑 緊急停止 - 停止所有 Agent\\n';\n    replyText += '🔄 重載規範 - 提醒重讀規範\\n\\n';\n    replyText += '*CLI 指令（終端機）：*\\n';\n    replyText += '`./scripts/self-heal.sh check` - 完整檢查\\n';\n    replyText += '`./scripts/self-heal.sh fix` - 自動修復\\n';\n    replyText += '`./scripts/self-heal.sh cr7` - 偵測未授權自動化\\n\\n';\n    replyText += '*燈號：* 🟢 直接做 🟡 先說 🔴 等批准';\n    replyMarkup = { inline_keyboard: [[{ text: '🔙 返回面板', callback_data: 'show_panel' }]] };\n    break;\n  }\n  \n  case 'show_panel': {\n    // 更新原訊息為面板\n    await fetch(`${BOT}/editMessageText`, {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        chat_id: chatId,\n        message_id: messageId,\n        text: '🔧 *達爾控制面板*\\n\\n選擇要執行的操作：',\n        parse_mode: 'Markdown',\n        reply_markup: {\n          inline_keyboard: [\n            [\n              { text: '📋 系統檢查', callback_data: 'sys_check' },\n              { text: '🧹 清理巡檢', callback_data: 'cleanup' }\n            ],\n            [\n              { text: '📊 任務狀態', callback_data: 'task_status' },\n              { text: '📝 進度報告', callback_data: 'progress' }\n            ],\n            [\n              { text: '🛑 緊急停止', callback_data: 'emergency_stop' },\n              { text: '🔄 重載規範', callback_data: 'reload_rules' }\n            ],\n            [\n              { text: '📖 指令清單', callback_data: 'help' }\n            ]\n          ]\n        }\n      })\n    });\n    return [{ json: { done: true, action: 'panel_shown' } }];\n  }\n  \n  default:\n    replyText = `⚠️ 未知操作: ${action}`;\n    replyMarkup = { inline_keyboard: [[{ text: '🔙 返回面板', callback_data: 'show_panel' }]] };\n}\n\n// 編輯原訊息（取代轉圈圈）\nawait fetch(`${BOT}/editMessageText`, {\n  method: 'POST',\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify({\n    chat_id: chatId,\n    message_id: messageId,\n    text: replyText,\n    parse_mode: 'Markdown',\n    reply_markup: replyMarkup\n  })\n});\n\nreturn [{ json: { done: true, action: action } }];"
      },
      "id": "cp-005-callback",
      "name": "處理按鈕點擊",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 520]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "解析事件", "type": "main", "index": 0 }]]
    },
    "解析事件": {
      "main": [[{ "node": "指令 or 按鈕", "type": "main", "index": 0 }]]
    },
    "指令 or 按鈕": {
      "main": [
        [{ "node": "送出面板", "type": "main", "index": 0 }],
        [{ "node": "處理按鈕點擊", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "達爾 Telegram Bot 控制面板（n8n 版）。用 /panel 開啟 Inline Keyboard。需設定 TELEGRAM_BOT_TOKEN 環境變數。AGENTS.md v1.4"
  }
}
